.markdown-body details.code-fold {
  margin: 1rem 0;
  border-radius: 4px;
  background-color: var(--highlight-bg-color);
}
.markdown-body details.code-fold > summary {
  cursor: pointer;
  padding: 0.65rem 1rem;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: bold;
  user-select: none;
  outline: none;
}
.markdown-body details.code-fold > summary:focus-visible {
  box-shadow: 0 0 0 2px var(--link-color) inset;
}
.markdown-body details.code-fold[open] > summary {
  border-bottom: 1px solid var(--line-color);
}
.markdown-body details.code-fold > figure.highlight,
.markdown-body details.code-fold > pre {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body details.code-fold > figure.highlight {
  padding-top: 0;
}
@media print {
  .markdown-body details.code-fold:not([open]) > *:not(summary) {
    display: block;
  }
  .markdown-body details.code-fold > summary {
    display: none;
  }
}
